<a href="https://colab.research.google.com/github/Akriti96/class-131/blob/main/class_131_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import csv

df = pd.read_csv("https://raw.githubusercontent.com/Akriti96/class130_Project/main/finalData.csv")
df.head()

   Unnamed: 0       Star_name     Distance Mass Radius
0           0             Sun  0.000015813    1      1
1           1          Sirius       0008.6  2.1  1.71´
2           2         Canopus         0310   15     71
3           3  Alpha Centauri       0004.4  1.1    1.2
4           4        Arcturus         0037  1.1     26

In [ ]:
df.drop(["Unnamed: 0"], axis = 1, inplace = True)
df

                  Star_name  ...               Radius
0                       Sun  ...                    1
1                    Sirius  ...                1.71´
2                   Canopus  ...                   71
3            Alpha Centauri  ...                  1.2
4                  Arcturus  ...                   26
..                      ...  ...                  ...
248  2MASSI J2356547-155310  ...  0.11201167000000001
249          WISE 0410+1502  ...  0.12023270999999998
250         WISE 0458+6434A  ...            0.4316046
251         WISE 0458+6434B  ...  0.39049939999999994
252          WISE 1405+5534  ...           0.08837618

[253 rows x 4 columns]

In [ ]:
#df.dtypes

#df['Radius'] = df['Radius'].astype(float, errors = raise)
df['Radius'] = pd.to_numeric(df['Radius'], errors = "coerce")
df['Distance'] = pd.to_numeric(df['Distance'], errors = "coerce")
df['Mass'] = pd.to_numeric(df['Mass'], errors = "coerce")
df.dtypes

Star_name     object
Distance     float64
Mass         float64
Radius       float64
dtype: object

In [ ]:
df1 = df.dropna(how='any',axis=0)
df1

                  Star_name    Distance       Mass     Radius      Gravity
0                       Sun    0.000016   1.000000   1.000000   274.269161
2                   Canopus  310.000000  15.000000  71.000000     0.816115
3            Alpha Centauri    4.400000   1.100000   1.200000   209.511165
4                  Arcturus   37.000000   1.100000  26.000000     0.446296
5                      Vega   25.000000   2.200000   2.700000    82.769843
..                      ...         ...        ...        ...          ...
248  2MASSI J2356547-155310   74.000000   0.076367   0.112012  1669.384558
249          WISE 0410+1502   20.000000   0.005728   0.120233   108.667313
250         WISE 0458+6434A   35.900000   0.014319   0.431605    21.082013
251         WISE 0458+6434B   35.900000   0.009546   0.390499    17.169285
252          WISE 1405+5534   25.300000   0.028638   0.088376  1005.642810

[221 rows x 5 columns]

In [ ]:
df1.reset_index(inplace=True)
df1

     index               Star_name  ...     Radius      Gravity
0        0                     Sun  ...   1.000000   274.269161
1        2                 Canopus  ...  71.000000     0.816115
2        3          Alpha Centauri  ...   1.200000   209.511165
3        4                Arcturus  ...  26.000000     0.446296
4        5                    Vega  ...   2.700000    82.769843
..     ...                     ...  ...        ...          ...
216    248  2MASSI J2356547-155310  ...   0.112012  1669.384558
217    249          WISE 0410+1502  ...   0.120233   108.667313
218    250         WISE 0458+6434A  ...   0.431605    21.082013
219    251         WISE 0458+6434B  ...   0.390499    17.169285
220    252          WISE 1405+5534  ...   0.088376  1005.642810

[221 rows x 6 columns]

In [ ]:
radius = df1['Radius'].tolist()
mass = df1['Mass'].tolist()
def converttoSIunit(mass, radius):
  for i in range(0,len(radius)):
    radius[i] = radius[i]*6.957e+8
    mass[i] = mass[i]*1.989e+30

converttoSIunit(mass, radius)
print(mass)
print(radius)

[1.989e+30, 2.9835e+31, 2.1879e+30, 2.1879e+30, 4.3758e+30, 5.1714e+30, 4.574699999999999e+31, 2.9835e+30, 1.33263e+31, 2.08845e+31, 3.5802e+30, 3.5801999999999996e+31, 2.9835e+30, 2.3868e+31, 2.2734269999999998e+31, 3.7790999999999997e+30, 3.7790999999999997e+30, 3.1824e+31, 7.558199999999999e+30, 2.48625e+31, 2.88405e+31, 5.5692e+30, 2.9835e+30, 1.7105399999999998e+31, 9.945e+30, 6.9615e+30, 7.956e+30, 5.7681e+30, 6.5637e+31, 8.453249999999999e+30, 1.6906499999999999e+31, 1.13373e+31, 6.9615e+30, 1.7900999999999998e+31, 1.2132899999999998e+31, 4.75371e+30, 1.3923e+31, 5.5692e+30, 1.17351e+31, 4.7735999999999997e+30, 2.68515e+31, 1.07406e+31, 5.967e+30, 4.1769e+30, 2.9835e+31, 5.5692e+30, 1.5573869999999998e+30, 1.9710989999999998e+30, 1.6309799999999997e+30, 8.950499999999999e+30, 2.52603e+30, 1.3923e+30, 3.16251e+30, 1.51164e+30, 2.3867999999999998e+30, 1.1933999999999999e+30, 1.5912e+30, 2.7846e+29, 2.3868e+29, 3.1824e+29, 1.4917499999999999e+29, 1.77021e+29, 1.3923e+29, 9.1136425536e+28, 3.6074835108e+28, 1.49995367028e+29, 5.8858941492e+28, 1.02528478728e+29, 5.5061590428e+28, 7.974437234399999e+28, 7.974437234399999e+28, 4.3669537235999995e+28, 2.2784106384e+28, 7.594702128e+28, 5.5061590428e+28, 9.873112766399999e+28, 9.873112766399999e+28, 3.797351064e+28, 3.797351064e+28, 8.923775000399998e+28, 8.923775000399998e+28, 2.848013298e+28, 3.797351064e+28, 5.1264239364e+28, 6.2656292556000005e+28, 1.48096691496e+29, 1.5189404256e+29, 1.2341390958e+29, 1.2341390958e+29, 1.5189404256e+29, 9.3035101068e+28, 1.67083446816e+29, 4.3669537235999995e+28, 8.544039894e+28, 3.4176159576e+28, 1.02528478728e+29, 1.3860331383600002e+29, 1.3860331383600002e+29, 1.40501989368e+29, 1.0442715426e+29, 1.93664904264e+29, 3.797351064e+28, 5.696026596e+28, 1.5189404256e+29, 1.898675532e+29, 7.4048345748e+28, 9.1136425536e+28, 4.1770861704e+28, 1.21515234048e+29, 1.9746225532799995e+27, 1.21515234048e+29, 3.987218617199999e+28, 8.923775000399998e+28, 1.2910993617600001e+29, 1.1581920745199998e+29, 5.3162914895999995e+28, 7.2149670216e+28, 1.0632582979199999e+29, 1.27211260644e+29, 1.424006649e+29, 1.36704638304e+29, 4.9365563831999995e+28, 7.784569681199999e+28, 7.0250994684e+28, 8.1643047876e+28, 1.3480596277199998e+29, 3.81633781932e+27, 8.3541723408e+28, 9.873112766399999e+28, 9.1136425536e+28, 1.67083446816e+29, 8.733907447199999e+28, 1.17717882984e+29, 1.21515234048e+29, 1.4619801596399999e+29, 9.49337766e+28, 7.974437234399999e+28, 6.0757617024e+28, 9.3035101068e+28, 8.3541723408e+28, 9.6832452132e+28, 5.1264239364e+28, 9.3035101068e+28, 7.974437234399999e+28, 1.4619801596399999e+29, 8.1643047876e+28, 7.594702128e+28, 1.21515234048e+29, 6.8352319152e+28, 1.5189404256e+28, 1.7088079788e+28, 6.2656292556000005e+28, 5.696026596e+28, 7.0250994684e+28, 1.21515234048e+29, 3.2277484044000003e+28, 7.974437234399999e+28, 7.784569681199999e+28, 3.797351064e+27, 8.923775000399998e+28, 1.19616558516e+29, 1.10123180856e+29, 1.27211260644e+29, 9.6832452132e+28, 8.3541723408e+28, 1.19616558516e+29, 6.0757617024e+28, 1.12021856388e+29, 3.987218617199999e+28, 1.44299340432e+29, 1.36704638304e+29, 1.7467814894399998e+29, 1.12021856388e+29, 2.1075298405199995e+28, 1.7088079788e+28, 1.424006649e+29, 8.3541723408e+28, 8.3541723408e+28, 1.3100861170799998e+29, 1.1392053192000003e+29, 1.49995367028e+29, 1.0822450532399998e+29, 1.02528478728e+29, 1.19616558516e+29, 8.3541723408e+28, 5.696026596e+28, 1.3480596277199998e+29, 7.974437234399999e+28, 8.1643047876e+28, 1.3480596277199998e+29, 9.3035101068e+28, 7.784569681199999e+28, 1.3860331383600002e+29, 4.5568212768e+28, 8.923775000399998e+28, 8.544039894e+28, 1.4619801596399999e+29, 1.27211260644e+29, 1.82272851072e+29, 4.74668883e+28, 8.733907447199999e+28, 1.3290728724000001e+29, 1.3100861170799998e+29, 1.2341390958e+28, 1.7847550000799996e+29, 8.733907447199999e+28, 1.0442715426e+29, 4.1770861704e+28, 5.1264239364e+28, 1.1581920745199998e+29, 7.974437234399999e+28, 1.3860331383600002e+29, 2.2784106384e+28, 4.5568212768e+28, 3.2277484044000003e+28, 1.67083446816e+29, 1.5189404256e+29, 1.1392053192e+28, 2.848013298e+28, 1.898675532e+28, 5.696026596e+28]
[695700000.0, 49394700000.0, 834840000.0, 18088200000.0, 1878390000.0000002, 8348400000.0, 54890730000.00001, 1321830000.0, 6470010000.000001, 5983020000.0, 1252260000.0, 6191730000.0, 30610800000.0, 473076000000.0, 5196879000.0, 6122160000.000001, 1252260000.0, 5843880000.0, 2156670000.0, 9739800000.0, 6122160000.000001, 1669680000.0, 58438800000.0, 4035060000.0, 2921940000.0, 4730760000.0, 2365380000.0, 2921940000.0, 13914000000.0, 20871000000.0, 47307600000.0, 18088200000.0, 4730760000.0, 90441000000.0, 2365380000.0, 1927089000.0, 64004400000.0, 2295810000.0, 3339360000.0, 2017530000.0, 6957000000.0, 27132300000.0, 34785000000.0, 66091500000.0, 97398000000.0, 194796000000.0, 621260100.0, 848754000.0, 514818000.0, 30958650000.0, 1029636000.0, 462640500.0, 2601918000.0, 653958000.0, 257409000000.0, 354807000.0, 2365380000.0, 139140000.0, 104355000.0, 146097000.0, 69570000.0, 83484000.0, 59830199.99999999, 70777296.90900001, 116532317.13299999, 77926518.81899999, 102948795.504, 70062374.71800001, 102233873.31299998, 67202685.95399998, 67202685.95399998, 115817394.942, 92939884.83000001, 67202685.95399998, 102233873.31299998, 70062374.71800001, 70062374.71800001, 115817394.942, 115102472.751, 69347452.527, 69347452.527, 109383095.22299999, 115817394.942, 100804028.93099998, 70777296.90900001, 77211596.628, 90795118.25699998, 135835216.29, 135835216.29, 69347452.527, 69347452.527, 82216051.965, 118677083.70599999, 67917608.145, 92939884.83000001, 70062374.71800001, 74351907.864, 102233873.31299998, 75066830.055, 270240588.198, 90795118.25699998, 94369729.212, 67917608.145, 77926518.81899999, 90080196.06599998, 140839671.627, 69347452.527, 127256149.99800001, 71492219.10000001, 5147439775.2, 71492219.10000001, 98659262.35799997, 69347452.527, 72207141.291, 72207141.291, 100804028.93099998, 107953250.84099999, 70777296.90900001, 72207141.291, 75066830.055, 73636985.673, 70062374.71800001, 67202685.95399998, 67202685.95399998, 67202685.95399998, 73636985.673, 4861470898.799999, 67202685.95399998, 70062374.71800001, 70777296.90900001, 82216051.965, 68632530.336, 71492219.10000001, 71492219.10000001, 76496674.437, 70062374.71800001, 67202685.95399998, 67917608.145, 68632530.336, 67202685.95399998, 70062374.71800001, 100804028.93099998, 69347452.527, 67202685.95399998, 76496674.437, 72922063.482, 72207141.291, 71492219.10000001, 170866403.649, 128685994.38000001, 88650351.684, 68632530.336, 157282882.02, 107238328.64999999, 71492219.10000001, 122251694.661, 67202685.95399998, 67202685.95399998, 1787305477.5000002, 70062374.71800001, 70062374.71800001, 70062374.71800001, 72207141.291, 69347452.527, 67202685.95399998, 71492219.10000001, 68632530.336, 70777296.90900001, 94369729.212, 75781752.246, 73636985.673, 85075740.72899997, 70777296.90900001, 107238328.64999999, 92939884.83000001, 75066830.055, 67202685.95399998, 67202685.95399998, 72922063.482, 70777296.90900001, 77211596.628, 70777296.90900001, 70062374.71800001, 71492219.10000001, 67202685.95399998, 102233873.31299998, 73636985.673, 67202685.95399998, 67202685.95399998, 73636985.673, 69347452.527, 67202685.95399998, 74351907.864, 100089106.73999996, 69347452.527, 67917608.145, 76496674.437, 72207141.291, 87220507.302, 134405371.908, 68632530.336, 72922063.482, 72922063.482, 109383095.22299999, 86505585.111, 68632530.336, 70777296.90900001, 95084651.403, 100804028.93099998, 70777296.90900001, 67202685.95399998, 74351907.864, 92224962.63899998, 99374184.54899997, 113672628.369, 82930974.15599999, 77926518.81899999, 83645896.34699999, 300267320.21999997, 271670432.58, 61483308.426]

In [ ]:
Gravity = []
def GravityCal(mass, radius):
  G = 6.674e-11
  for i in range(0, len(radius)):
    g = (mass[i]*G)/(radius[i]**2)
    Gravity.append(g)

GravityCal(mass, radius)
print(Gravity)

[274.2691614595739, 0.8161153386021839, 209.51116500384123, 0.44629597278924754, 82.76984296448046, 4.952082081908975, 1.01332978543217, 113.9622554541166, 21.2464259657665, 38.937617567949246, 152.37175636642996, 62.326030883377484, 0.21250193294905007, 0.0071177118025840995, 56.18003500809, 6.729227876719916, 160.8368539423427, 62.19255361895101, 108.45190567600218, 17.491655705329972, 51.354633796020416, 133.3252868206262, 0.058305519017766566, 70.11637302474244, 77.74069202368877, 20.759992757536956, 94.90282403445465, 45.08960137373948, 22.627205820414854, 1.2951599291146547, 0.5041712526830403, 2.3126245862715553, 20.759992757536956, 0.14606050018557193, 144.72680665254333, 85.43097080483021, 0.22682941046987445, 70.51915997124031, 70.23385645015132, 78.26943965552645, 37.02633679704249, 0.973736667903813, 0.32912299375148873, 0.0638188630543053, 0.20989986846395964, 0.009795327194984781, 269.2996711047934, 182.61269753187165, 410.70254272616984, 0.6232603088337749, 159.02202111653529, 434.14192553949175, 31.176754176608036, 235.9037604224493, 0.00240411244522636, 632.685493563031, 18.98056480689093, 959.9420651085089, 1462.7688611177277, 995.0808579032163, 2057.0187109468043, 1695.1357895765336, 2595.841171196618, 1214.200056936461, 177.29553270309611, 1648.5172507306947, 370.6432628229708, 1393.9943359838123, 351.59713187176385, 1178.454947179717, 1178.454947179717, 217.2787267524544, 176.04104671648304, 1122.3380449330639, 351.59713187176385, 1342.3649161325598, 1342.3649161325598, 188.93802326300383, 191.292368446984, 1238.4366334263516, 1238.4366334263516, 158.86484308965376, 188.93802326300383, 336.70141347991915, 834.762539143817, 1657.9311541328584, 1229.7078510792421, 446.40140770557866, 446.40140770557866, 2107.9772483852794, 1291.1360646359838, 1649.7053854867902, 206.93362261908166, 1236.1885136462176, 264.0615700747245, 1393.9943359838123, 1673.3068242582378, 885.0548491944401, 1664.073567827919, 95.43298113794582, 1567.8775101260337, 284.5781383444831, 824.1256757641451, 1669.384557701969, 1561.6306004391142, 249.14464404913377, 1264.786349031168, 172.14803783504922, 1586.716634404567, 0.004973793462398576, 1586.716634404567, 273.3886765721482, 1238.4366334263516, 1652.6678012497337, 1482.5402334740254, 349.1718362013976, 413.1893345369554, 1416.5667330925376, 1628.363862996061, 1686.5610484742424, 1682.5866846122526, 671.1824580662799, 1150.3964960563903, 1038.162691563084, 1206.5133983030435, 1659.2174251037488, 0.010776993793094389, 1234.5718494263704, 1342.3649161325598, 1214.200056936461, 1649.7053854867902, 1237.4702484573381, 1537.1317395794242, 1586.716634404567, 1667.410647888894, 1290.7354962813079, 1178.454947179717, 879.0673874817548, 1318.174829878469, 1234.5718494263704, 1316.5502062069338, 336.70141347991915, 1291.1360646359838, 1178.454947179717, 1667.410647888894, 1024.6782379282668, 972.157530146902, 1586.716634404567, 156.25218516002334, 61.21591953721324, 145.11708292998327, 887.7503956324384, 153.6721947060208, 407.6980241178403, 1586.716634404567, 144.1372066665686, 1178.454947179717, 1150.3964960563903, 0.07933583172022834, 1213.291366504429, 1626.3267253144477, 1497.253175686317, 1628.363862996061, 1343.8354958456157, 1234.5718494263704, 1561.9241869919956, 860.8488684920613, 1492.4542366510664, 298.80704526170723, 1676.9544351685863, 1682.5866846122526, 1610.6949805497964, 1492.4542366510664, 122.30940723535208, 132.03078503736225, 1686.5610484742424, 1234.5718494263704, 1234.5718494263704, 1644.2511259779164, 1517.7500711705766, 1679.1866817499465, 1441.862567612047, 1393.9943359838123, 1561.9241869919956, 1234.5718494263704, 363.7211709018246, 1659.2174251037488, 1178.454947179717, 1206.5133983030435, 1659.2174251037488, 1291.1360646359838, 1150.3964960563903, 1673.3068242582378, 303.5809887253639, 1238.4366334263516, 1236.1885136462176, 1667.410647888894, 1628.363862996061, 1599.082875306941, 175.3653195207912, 1237.4702484573381, 1668.0808524413649, 1644.2511259779164, 68.84143200551664, 1591.756066376414, 1237.4702484573381, 1391.270898573028, 308.3463412722992, 336.70141347991915, 1543.0459056900854, 1178.454947179717, 1673.3068242582378, 178.78094402431134, 307.964772994003, 166.71476840857292, 1621.3847891693526, 1669.384557701969, 108.66731278795255, 21.082013105928034, 17.169284911753024, 1005.6428101367509]

In [ ]:
df1['Gravity'] = Gravity
df1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     index               Star_name  ...     Radius      Gravity
0        0                     Sun  ...   1.000000   274.269161
1        2                 Canopus  ...  71.000000     0.816115
2        3          Alpha Centauri  ...   1.200000   209.511165
3        4                Arcturus  ...  26.000000     0.446296
4        5                    Vega  ...   2.700000    82.769843
..     ...                     ...  ...        ...          ...
216    248  2MASSI J2356547-155310  ...   0.112012  1669.384558
217    249          WISE 0410+1502  ...   0.120233   108.667313
218    250         WISE 0458+6434A  ...   0.431605    21.082013
219    251         WISE 0458+6434B  ...   0.390499    17.169285
220    252          WISE 1405+5534  ...   0.088376  1005.642810

[221 rows x 6 columns]

In [ ]:
from google.colab import files
df.to_csv("Stars_gravity.csv")

files.download("Stars_gravity.csv")